.conteudo-home{
    width: 74%;
    min-height: 400px;
    margin: 10px;
    float: left;
    border-top: 1px solid #e1e4e8;
}

.conteudo-home a{
    text-decoration: none;
    color: #0366d6;
}

.conteudo-home h2{
    font-size: 19px;
}

.conteudo-home-container{
    margin: 10px;
    display: flex;
}

.conteudo-home-img{
    width: 100px;
    height: 100px;
    float: left;
}

.hr{
    border: 0px;
    border-top: 1px dotted #cccccc;
}

.hr-margin{
    border: 0px;
    border-top: 1px dotted #cccccc;
    margin-left: 20px;
    margin-right: 20px;
}

.assunto{
    color: #ff0000;
}

.titulo-home{
    margin-bottom: 0;
    margin-top: 20px;
    color:#999;
    font-weight: 400;
    font-size: 24px;
}

.sub-titulo-home{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.conteudo-home-detalhe h3,h4{
    margin-top: 0;  
}

.conteudo-home-detalhe h2{
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0;
}

.conteudo-home-detalhe h3, h4{
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
}

.conteudo-home-detalhe{
    width: 80%;
    height: auto;
    float: right;
    padding-left: 10px;
}

.anuncio-direito{
    width: 160px;
    height: 600px;
    float: right;
    margin-top: 10px;
}


.conteudo-home-info{
    color: #999;
}

.destaque-direito-home img{
    width: 160px;
    height: 600px;
}

@media only screen and (max-width: 600px) {
	.img-destaque,.conteudo-home-img{
        width: 50px;
        height: 50px;
    }
    .conteudo-home{
        width: 100%;
        margin:0;
    }
}