body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 15px;
}
.topo{
    width: 100%;
    height: 66px;
    background-color:#4e5682;
    border-bottom: solid #d06363 2px;
}
.topo-logo{
    width: 10%;
    height: 50px;
    float: left;
    margin: 5px;
    margin-left: 20px;
}

.logo{
    width: 35px;
    margin: 10px;
}

.topo-busca{
    width: 85%;
    height: 45px;
    margin-top: 20px;
    float: left;
}

.topo-busca-nome-site{
    display: none;
    font-size: 20px;
    margin: 5px;
    color: white;
    font-weight: 500;
}

.topo-busca-input{
    margin: auto;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 0;
    background-color: #3a4061;
    color: white;
}

.topo-busca-input:focus{
    background-color:white;
    color: #333;
}

.topo-busca-search-icon{
    float: right;
    display: none;
    margin-top: -31px;
    margin-right: 10px;
}

.topo-busca-mobile{
    position: absolute;
    right: 0px;
    width: 0px;
    height: 100%;
    -webkit-transition: width 2s, height 2s; /* For Safari 3.1 to 6.0 */
    transition: width 0.7s, height 0.7s;
    background-color: #ffffff;
    border-left: solid #c7c7c7  1px;
}

.result-mobile{
    border-top: solid #c7c7c7 1px;
}

.topo-busca-mobile-ativo{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
}

.topo-busca-arrow-icon{
  width: 5%;
  float: left;
  margin-top: 13px;
  margin-left: 5px;
}

.topo-busca-input-mobile{
    width: 78%;
    height: 35px;
    font-size: 20px;
    border: 0;
    outline: none;
    display: none;
    font-weight: 100;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.limpar-input-mobile{
    display: none;
    position: absolute;
    right: 13px;
    top: 11px;
}

@media only screen and (max-width: 600px) {
    .topo-busca-search-icon{
        display: block;
    }
    .topo-busca-input{
        display: none;
    }
    .topo-logo{
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }
    .topo-busca{
        margin-top: 5px;
        height: 40px;
    }
    .topo{
        height: 50px;
    }
    .topo-busca-nome-site{
        display: inline-flex;
    }
    .logo {
        width: 23px;
        margin: 8px;
    }
}